:root{

    /* colors */
    --primary: #f7f6f2;
    --light: #fff;
    --dark: #3c3c3c;
    --shadow: 0 1px 5px rgba(64, 64, 64, 0.8);
    --blue: #1e5674;
    --green: #3c8841;
    --nav-bar-color: #131313;

    /* misc */
    --modal-animation-duration: 0.8s;
}

/* font faces */
@font-face {
    font-family: funkymuskrat;
    src: url('../fonts/funkymuskrat.ttf');
}

@font-face {
    font-family: roboto;
    src: url('../fonts/roboto.ttf')
}

@font-face {
    font-family: quicksand;
    src: url('../fonts/quicksand.ttf')
}
@font-face {
    font-family: quicksand-medium;
    src: url('../fonts/quicksand-medium.ttf')
}

*{
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    padding: 0;
    font-family: "Verdana", "Helvetica", "Arial", "Times New Roman", "serif";
    font-size: 16px;
    color: var(--dark);
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100%;
    margin: 0 0 5.2rem 0;
    background-color: var(--primary);
    line-height: 1.5;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4 {
    margin: 0;
    font-weight: normal;
}

label{
    font-size: 12px;
}

input[type=text], input[type=email], input[type=password] {
    font-size: 12px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* buttons */

button{
    color: var(--light);
    background-color: var(--dark);
    text-decoration: none;
    border: none;
    cursor: pointer;
    padding-bottom: 2px;
    width: 16rem;
    height: 3.2rem;
}

button:hover{
    opacity: 0.8;
}

.btn-text{
    font-size: 12px;
    font-weight: 200;
    display: block;
    margin: 0;
}

header {
    width: 100%;
    line-height: 15px;
}

.content {
    font-family: quicksand;
    width: 90%;
    margin: 5em auto;
}
/* navigation bar */
.logo {
    font-family: funkymuskrat;
    color: var(--dark);
    position: fixed;
    float: left;
    margin: 16px 36px;
    font-weight: 100;
    font-size: 48px;
    text-decoration: none;
    padding: 0;
}

nav{
    position: fixed;
    top:0;
    width: 100%;
}

nav ul{

    margin: 0;
    font-size: 16px;
    list-style: none;
    background: rgba(0 0 0 0);
    overflow:hidden;
    padding: 0;
    text-align: right;
    transition: 1s;
}

nav.solid ul {
    background: var(--primary);
    box-shadow: var(--shadow);
}

nav ul li {
    color: var(--dark);
    display: inline-block;
    padding: 19px;
    cursor: pointer;
}
nav ul li:hover{
    color: darkgrey;
}

.menu-icon {
    font-size: 12px;
    width: 100%;
    background: var(--nav-bar-color);
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: var(--primary);
    display: none;
}

.login-btn{
    width: 100%;
    padding: 12px 10px;
    background-color: var(--green);
    box-shadow: none;

}

.create-user-button {
    width: 100%;
    padding: 12px 10px;
    background-color: var(--blue);
    box-shadow: none;
}

.close-btn {
    color: var(--light);
    font-size: 16px;
}

.close-btn:hover,.closeBtn:focus{
    color: var(--dark);
    text-decoration: none;
    cursor: pointer;
}

.modal {
    color: var(--dark);
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    overflow: scroll;
    animation-name: modalopen;
    animation-duration: var(--modal-animation-duration);
}

.modal-content {
    background-color: var(--primary);
    margin: 1rem auto;
    width: 90%;
    max-width: 500px;
    animation-name: modal-content-open;
    animation-duration: var(--modal-animation-duration);
    box-shadow: var(--shadow);
}

.modal-header{
    text-align: right;
    padding: 1px 20px;
    color: var(--light);
}

/* specific headers for different modals */

#login-modal .modal-header {
    background-color: var(--green);
}

#create-user-modal .modal-header {
    background-color: var(--blue);
}


.modal-body {
    text-align: justify;
    padding: 10px 20px;
}
@keyframes modalopen {
    from{background-color: rgba(0,0,0,0.0)}
    to{background-color: rgba(0,0,0,0.9)}
}
@keyframes modal-content-open {
    from{opacity: 0}
    to{opacity: 1}
    from{transform: scale(0)}
    to{transform: scale(1)}
}

/* wrapper */

.wrapper{

}

.content{

}

/* showcase */
.showcase {

    background-image: url(../pictures/map.jpg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    max-width: 800px;
    margin: 0 auto 1.5rem auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: var(--shadow);


}

.showcase h2{
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    padding: 0 4%;
    background: rgba(0,0,0,0.7);
    color: var(--primary);
}

.article {
    grid-area: article;
    max-width: 800px;
    margin: 0 auto;
}
.map-container{
    left:0;
    top:0;
    height:100%;
    width:100%;
}

#map {
    height: 550px;
    position:relative;
    box-shadow: var(--shadow);
    overflow:hidden;
}

/* infowindow */
.infoWindow {
    color: var(--dark);
    line-height: 0.5;
    text-align: center;
    padding: 10px;
}

.infoWindow h3 {
    font-size: 18px;
    margin-bottom: 7px;
}

.infoWindow p {
    font-size: 14px;
    margin-bottom: 7px;
}

.infoWindow .profil-billede{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
    max-height: 100px;

}
.infoWindow .pant-container{
    position: relative;
}
.infoWindow .pant-container:hover h4{
    display: none;
}
.infoWindow .pant-container:hover .pant-billede{
    opacity: 1;
}

.infoWindow .pant-billede{
    max-width: 200px;
    max-height: 200px;
    opacity: 0.3;
}

.pant-container h4 {
    bottom: 25%;
    width: 100%;
    padding: 5% 0;
    position: absolute;
    background-color: black;
    color: var(--light);
}

/* footer */
footer {
    font-family: quicksand-medium;
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5.2rem;
    font-size: 11px;
    text-align: center;
}
footer p {
    text-align: right;
    font-size: 10px;
    padding-right: 10px;
}
footer a {
    color: var(--dark);
    text-decoration: none;
}
footer a:hover{
    color: darkgrey;
}

footer ul {
    display: grid;
    grid-gap: 10px;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

footer hr {
    margin: 5px;
    color: var(--light);
}

@media (max-width: 850px){
    .showcase {
        max-width: 400px;
        min-height: 200px;
    }
    
    .article {
        margin: 0 15%;
    }
}

@media (max-width: 580px){
    body {
        margin: 0 0 11.4rem 0;
    }
    footer{
        height: 11.4rem;
    }
    footer ul {
        grid-template-columns: 1fr;
        text-align: left;
        margin-left: 50px;
    }
    #map {
        height: 400px;
    }

    .logo {
        color: var(--primary);
        position: fixed;
        top: 0;
        margin-top: 16px;
    }
    nav ul{
        max-height: 0;
        background: var(--nav-bar-color);
    }
    nav.solid ul{
        background: var(--nav-bar-color);
    }
    .showing {
        max-height: 10em;
    }
    nav ul li{
        color: var(--primary);
        box-sizing: border-box;
        width: 100%;
        padding: 13px 0;
        text-align: center;
    }

    .menu-icon{
        display: block;
    }
}
@media (max-width: 450px){
    .showcase {
        max-width: 250px;
        min-height: 125px;
    }
}
