:root{

    /* colors */
    --primary: #eeeeee;
    --light: #fff;
    --dark: #3c3c3c;
    --shadow: 0 1px 5px rgba(64, 64, 64, 0.8);
    --blue: #1e5674;
    --green: #3c8841;

    /* misc */
    --footer-height: 5rem;
    --modal-animation-duration: 0.8s;
}
html{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-family: "Verdana", "Helvetica", "Arial", "Times New Roman", "serif";
    font-size: 12px;
    color: var(--dark);
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100%;
    margin: 0 0 var(--footer-height) 0;
    background-color: var(--primary);
    line-height: 1.5;
}

img {
    max-width: 100%;
}

h1 {

}

h2 {
    font-weight: normal;
}

h3 {
    font-weight: normal;
}
h4 {
    font-weight: normal;
}

hr {
    color: var(--light);
}

label{
    font-size: 12px;
}

input[type=text], input[type=email], input[type=password] {
    font-size: 12px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* buttons */

button{
    color: var(--light);
    background-color: var(--dark);
    text-decoration: none;
    border: none;
    cursor: pointer;
    padding-bottom: 2px;
    width: 16rem;
    height: 3.2rem;
    box-shadow: var(--shadow);
}

button:hover{
    opacity: 0.8;
}

.btn-text{
    font-size: 12px;
    font-weight: 200;
    display: block;
    margin: 0;

}

.login-btn{
    width: 100%;
    padding: 12px 10px;
    background-color: var(--green);
    box-shadow: none;
}

.create-user-button {
    width: 100%;
    padding: 12px 10px;
    background-color: var(--blue);
    box-shadow: none;
}

.close-btn {
    color: var(--light);
    font-size: 16px;
}

.close-btn:hover,.closeBtn:focus{
    color: var(--dark);
    text-decoration: none;
    cursor: pointer;
}

/* navigation bar */

.main-nav{
    background: #141414;
    padding: 1px 1px;

}

.main-nav ul{
    padding: 0;
    text-align: center;
    display: grid;
    grid-gap: 5px;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
}

.logo-placeholder {
    font-family: Roboto, serif;
    font-weight: 100;
    font-size: 20px;
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: var(--light);
}

.main-nav #create-user-btn{
    background-color: var(--blue);
    box-shadow: none;
}

.main-nav #login-btn{
    background-color: var(--green);
    box-shadow: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    overflow: scroll;
    animation-name: modalopen;
    animation-duration: var(--modal-animation-duration);
}

.modal-content {
    background-color: var(--primary);
    margin: 5.2rem auto;
    width: 90%;
    max-width: 500px;
    animation-name: modal-content-open;
    animation-duration: var(--modal-animation-duration);
    box-shadow: var(--shadow);
}

.modal-header{
    text-align: right;
    padding: 1px 20px;
    color: var(--light);
}

/* specific headers for different modals */

#login-modal .modal-header {
    background-color: var(--green);
}

#create-user-modal .modal-header {
    background-color: var(--blue);
}


.modal-body {
    text-align: justify;
    padding: 10px 20px;
}
@keyframes modalopen {
    from{background-color: rgba(0,0,0,0.0)}
    to{background-color: rgba(0,0,0,0.9)}
}
@keyframes modal-content-open {
    from{opacity: 0}
    to{opacity: 1}
    from{transform: scale(0)}
    to{transform: scale(1)}
}

/* wrapper */

.wrapper{
    max-width: 1920px;
    margin: 30px;
    display: grid;
    grid-gap: 10px;
}

/* top-container */
.top-container{
    display: grid;
    grid-template-areas:
        'showcase showcase showcase showcase showcase info'
        'showcase showcase showcase showcase showcase info'
        'article article article article article article';
}

/* showcase */
.showcase {
    grid-area: showcase;

}

.showcase img{
    min-width: 200px;
    box-shadow: var(--shadow);

}

/* info */
.info {
    font-size: 18px;
    grid-area: info;
    margin: 0 0 10px 0;
    padding: 0 1rem;

}

.article {
    font-size: 14px;
    grid-area: article;
    margin: 0 0 10px 0;
}
.map-container{
    left:0;
    top:0;
    height:100%;
    width:100%;


}

#map {
    padding-bottom:42.5%;
    position:relative;
    box-shadow: var(--shadow);
    overflow:hidden;
}

/* infowindow */
.infoWindow {
    color: var(--dark);
    line-height: 0.5;
    text-align: center;
    padding: 10px;
}

.infoWindow h3 {
    font-size: 18px;
}

.infoWindow p {
    font-size: 14px;
}

.infoWindow .profil-billede{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
    max-height: 100px;

}
.infoWindow .pant-container{
    position: relative;
}
.infoWindow .pant-container:hover h4{
    display: none;
}
.infoWindow .pant-container:hover .pant-billede{
    opacity: 1;
}

.infoWindow .pant-billede{
    max-width: 200px;
    max-height: 200px;
    opacity: 0.5;
}

.pant-container h4 {
    bottom: 20%;
    width: 100%;
    padding: 5% 0;
    position: absolute;
    background-color: black;
    color: var(--light);
}

/* footer */
footer {
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    font-size: 0.8rem;
    text-align: center;
}
footer p {
    text-align: right;
    font-size: 10px;
    margin: 10px;
}
footer a {
    color: var(--dark);
    text-decoration: none;
}

footer ul {
    display: grid;
    grid-gap: 10px;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

@media (max-width: 700px){

    .top-container{
        grid-template-areas:
        'showcase'
        'info'
        'article';
    }
    .info{
        margin: -10px 0 0 0;
    }
    .article {
        padding: 0 1rem;
        margin: -25px 0 0 0;
    }

    footer ul {
        grid-template-columns: 1fr;
        text-align: left;
        margin-left: 20px;
    }
}

@media (max-width: 630px){
    .main-nav{
        text-align: center;
    }
    .main-nav ul {
        grid-gap: 20px 0;
        grid-template-columns: 1fr;
    }
}
