<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
          integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <title>ElePant</title>

</head>
<body>
<div class="wrapper">
    <header>
        <nav>
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <a class="logo" href="/">ELEPANT</a>

            <div class="menu">
                <ul sec:authorize="isAnonymous()" id="no-login-registered">
                    <!--CREATE USER BUTTON-->
                    <li><a id="create-user-btn"><i class="fas fa-user-plus"></i>&ensp;Opret bruger</a></li>
                        <!-- CREATE USER MODAL-->
                    <div id="create-user-modal" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span id="create-user-close-btn" class="close-btn">&times;</span>
                            </div>
                            <div class="modal-body">
                                <form class="create-user-form" th:action="@{/opret-bruger}" method="post">
                                    <label><b>E-mailadresse</b></label>
                                    <input type="email" placeholder="Indtast din e-mailadresse" name="mail" required>
                                    <label><b>Fornavn</b></label>
                                    <input type="text" placeholder="Indtast dit fornavn" name="fornavn" required>
                                    <label><b>Efternavn</b></label>
                                    <input type="text" placeholder="Indtast dit efternavn" name="efternavn" required>
                                    <label><b>Telefonnummer</b></label>
                                    <input type="text" placeholder="Indtast dit telefonnummer" name="telefonnummer" required>
                                    <label><b>Kodeord</b></label>
                                    <input id="password" type="password" placeholder="Indtast dit kodeord" name="kodeord" required>

                                    <input id="passwordconfirm "type="password" placeholder="Gentag dit kodeord" oninput="check(this)" name="kodeord2" required>
                                    <button class="create-user-button" value="Submit">Opret Bruger</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--LOGIN BUTTON-->
                    <li><a id="login-btn"><i class="fas fa-sign-in-alt"></i>&ensp;Log ind</a></li>
                        <!--LOGIN MODAL-->
                    <div id="login-modal" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span id="login-close-btn" class="close-btn">&times;</span>
                            </div>
                            <div class="modal-body">
                                <form class="login-form" th:action="@{/}" method="post">
                                    <label><b>E-mailadresse</b></label>
                                    <input type="email" placeholder="Indtast din e-mailadresse" name="username" required>
                                    <br>
                                    <label><b>Kodeord</b></label>
                                    <input type="password" placeholder="Indtast dit kodeord" name="password" required>
                                    <br>
                                    <button class="login-btn">Login</button>
                                    <br>
                                    <label><input type="checkbox" name="remember"> Husk oplysninger</label>
                                </form>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </ul>
                <ul sec:authorize="isAuthenticated()" id="login-registered">
                    <li><a href="/bruger" th:inline="text"  class="user"><i class="fas fa-users-cog"></i>&ensp;[[${#httpServletRequest.remoteUser}]]</a></li>
                    <li><a href="/logout" id="logout-btn"><i class="fas fa-sign-out-alt"></i>&ensp;Log ud</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="content">
        <div class="showcase">
        </div>
        <div class="article">
            <h2>"Alt, hvad du skal tænke på, er: Det rent og skært nødvendige, det elementært nødvendige..."</h2>
            <p>
                Derfor har vi lanceret et nyt system, der skal gøre livet lettere for dig. ElePant, hedder det,
                og det går i al sin enkelthed ud på, at du enten kommer hurtigt af med den pant, du har liggende derhjemme - eller hjælper andre med at komme af med deres.
            </p>
            <h2><br>Sådan virker det</h2>
            <p>Når du har oprettet en bruger og logger ind, vil du blive præsenteret for et kort med markører.
                Hver af disse markører stammer fra en anden bruger, der har "uploadet" sin pant. Nu har du to valgmuligheder.
                Du kan enten tage på pant-jagt og hjælpe andre, eller du kan hjælpe dig selv og lave din egen markør.
            </p>
        </div>
        <br>
    </div>
</div>
<footer>
    <ul>
        <li><a href="elepantprojektet"><i class="fas fa-keyboard fa-2x"></i>&emsp;Mere om projektet</a></li>
        <li><a href="samarbejdspartnere"><i class="far fa-handshake fa-2x"></i>&emsp;Samarbejdspartnere</a></li>
        <li><a href="lidt-om-os"><i class="fas fa-users fa-2x"></i>&emsp;Lidt om os</a></li>
    </ul>
    <p>ElePant© 2018</p>
</footer>
<script src="scripts/main.js"></script>
</body>
</html>