<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
          integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <title>PantHer</title>

</head>
<body>
<div class="wrapper">
    <header>
        <nav>
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <a class="logo" href="/">ELEPANT</a>

            <div class="menu">
                <ul id="no-login-registered">
                    <!--CREATE USER BUTTON-->
                    <li><a id="create-user-btn"><i class="fas fa-user-plus"></i>&ensp;Opret bruger</a></li>
                    <!-- CREATE USER MODAL-->
                    <div id="create-user-modal" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span id="create-user-close-btn" class="close-btn">&times;</span>
                            </div>
                            <div class="modal-body">
                                <form class="create-user-form" action="/opret-bruger" method="post">
                                    <label><b>E-mailadresse</b></label>
                                    <input type="email" placeholder="Indtast din e-mailadresse" name="mail" required>
                                    <label><b>Fornavn</b></label>
                                    <input type="text" placeholder="Indtast dit fornavn" name="fornavn" required>
                                    <label><b>Efternavn</b></label>
                                    <input type="text" placeholder="Indtast dit efternavn" name="efternavn" required>
                                    <label><b>Telefonnummer</b></label>
                                    <input type="text" placeholder="Indtast dit telefonnummer" name="telefonnummer" required>
                                    <label><b>Kodeord</b></label>
                                    <input id="password" type="password" placeholder="Indtast dit kodeord" name="kodeord" required>
                                    <input id="passwordconfirm "type="password" placeholder="Gentag dit kodeord" oninput="check(this)" required>
                                    <button class="create-user-button" value="Submit">Opret Bruger</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--LOGIN BUTTON-->
                    <li><a id="login-btn"><i class="fas fa-sign-in-alt"></i>&ensp;Login</a></li>
                    <!--LOGIN MODAL-->
                    <div id="login-modal" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span id="login-close-btn" class="close-btn">&times;</span>
                            </div>
                            <div class="modal-body">
                                <form class="login-form" action="/login" method="post">
                                    <label><b>E-mailadresse</b></label>
                                    <input type="email" placeholder="Indtast din e-mailadresse" name="mail" required>
                                    <br>
                                    <label><b>Kodeord</b></label>
                                    <input type="password" placeholder="Indtast dit kodeord" name="kodeord" required>
                                    <br>
                                    <button class="login-btn">Login</button>
                                    <br>
                                    <label><input type="checkbox" name="remember"> Husk oplysninger</label>
                                </form>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </nav>
    </header>
    <div class="content">
        <section class="map-container">
            <div id="map">

            </div>
        </section>
        <br>
    </div>
</div>
<footer>
    <hr>
    <ul>
        <li><i class="fas fa-keyboard fa-2x"></i>&emsp;<a href="elepantprojektet">Mere om projektet</a></li>
        <li><i class="far fa-handshake fa-2x"></i>&emsp;<a href="samarbejdspartnere">Samarbejdspartnere</a></li>
        <li><i class="fas fa-users fa-2x"></i>&emsp;<a href="lidt-om-os">Lidt om os</a></li>
    </ul>
    <hr>
    <p>ElePant© 2018</p>
</footer>
<script src="scripts/main.js"></script>
<script src="scripts/map.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1tsjXhZuzNaq561PNBmePOyt9_WtEJ4w&callback=initMap">
</script>
</body>
</html>